body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 100%;
	height: 100vh;
	position: fixed;
	object-fit: cover;
}

#login-form {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#login-form svg {
    flex-shrink: 0;
    height: 7vh;
    width: auto;
}


#login-form svg:hover {
    opacity: 0.6;
    cursor: pointer;
}

#login-form p {
    font-size: 2.5vh;
}

#login-form input {
    outline: none;
    max-width: 80%;
    border-style: solid;
    border-width: 0.3vh;
    background-color: white;
    border-color: black;
    height: 5vh;
    border-radius: 5vh;
    font-size: 2.5vh;
    color: black;
    padding: 0 3vh;
    box-sizing: border-box;
}

#login-form #submit:hover {
    cursor: pointer;
    color: white;
    background-color: black!important;
}