<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/index.css">
   <link rel="icon" type="image/x-icon" href="/uploads/icon.png">
   <title>spoti.lv | edit spot</title>
</head>

<body>
<div id="header">
		<a id="left" href="/login">
			<div id="left-meta-ball-container">
				<div class="left-meta-ball-top"></div>
				<div class="left-meta-ball-bottom"></div>
			</div>
		</a>
		<div id="middle">
			<a href="/">
			<svg width="321.52338mm" height="131.6601mm"
				viewBox="0 0 321.52338 131.6601" version="1.1" id="svg1"
				inkscape:version="1.3 (0e150ed6c4, 2023-07-21)"
				sodipodi:docname="logo.svg"
				xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:svg="http://www.w3.org/2000/svg">
                <sodipodi:namedview id="namedview1" pagecolor="#ffffff"
					bordercolor="#111111" borderopacity="1" inkscape:showpageshadow="0"
					inkscape:pageopacity="0" inkscape:pagecheckerboard="1"
					inkscape:deskcolor="#d1d1d1" inkscape:document-units="mm"
					inkscape:zoom="0.33852413" inkscape:cx="708.9598"
					inkscape:cy="280.62992" inkscape:window-width="1920"
					inkscape:window-height="991" inkscape:window-x="-9"
					inkscape:window-y="-9" inkscape:window-maximized="1"
					inkscape:current-layer="layer1" />
                <defs id="defs1">
                    <inkscape:path-effect effect="spiro"
					id="path-effect27" is_visible="true" lpeversion="1" />
                    <inkscape:path-effect effect="spiro"
					id="path-effect2" is_visible="true" lpeversion="1" />
                </defs>
                <g inkscape:label="Slānis 1" inkscape:groupmode="layer"
					id="layer1" transform="translate(23.057662,154.80838)">
                    <path
					style="opacity:0.99;fill:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="M 35.646555,161.92931 56.647627,144.38236" id="path16"
					inkscape:path-effect="#path-effect27"
					inkscape:original-d="M 35.646555,161.92931 C 57.626022,188.99177 19.755507,116.81036 56.647627,144.38236"
					transform="translate(-15.631579,-243.85263)" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m -13.69727,-59.955091 c -0.971325,1.90166 -0.36127,6.31311 1.934308,7.4609 7.6105313,3.80527 40.61661,1.99369 34.955731,-12.15851 -7.546115,-18.86529 -34.264906,-7.42154 -34.264906,-23.90254 0,-2.45511 -0.211003,-4.89659 0.828989,-7.18457 11.07214332,-24.358709 43.746923,-1.67727 28.738309,1.65798"
					id="path17" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 50.273099,-45.862271 c 0,-20.79546 -1.013103,-41.24309 -4.835774,-61.621559 3.058617,-14.01632 23.409744,-19.29341 32.192432,-10.77687 2.61656,2.53728 3.26635,7.54169 3.31596,10.91503 0.25312,17.212009 -18.730895,22.382729 -32.606927,22.382729"
					id="path18" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 97.767845,-44.872118 c -13.437615,-0.555551 -13.556673,-23.209132 -8.99484,-32.332795 2.25401,-4.508025 6.36563,-9.500736 10.69656,-12.15518 34.622225,-21.220077 59.361845,46.937408 18.962095,48.62073 -7.24176,0.30174 -14.95543,0.760147 -20.663815,-4.132755 z"
					id="path19" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 157.44411,-146.03744 c 0.53452,34.67107 0.39079,69.330614 0.39079,103.950004"
					id="path20" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 135.16911,-124.15323 c 14.25493,4.74011 31.52253,9.92882 44.15921,0"
					id="path21" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 183.97339,-95.803909 c 1.58522,17.912969 -1.00902,36.22613 -1.00902,53.915815"
					id="path22" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 205.39536,-40.286755 c 0,2.78917 0,5.578341 0,8.367516"
					id="path24" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 218.50406,-140.98494 c 9.38258,33.51028 9.37895,67.728085 9.37895,102.386835"
					id="path25" />
                    <path
					style="opacity:0.99;fill:none;stroke:#000000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 248.27112,-86.297431 c 2.86578,14.19869 5.54747,28.43578 8.59737,42.59606 4.88874,22.69773 25.07081,-28.19713 32.8263,-35.95264"
					id="path26" />
                    <path
					style="opacity:0.99;fill:#ff0000;stroke:#ff0000;stroke-width:11.742;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;paint-order:markers fill stroke"
					d="m 111.44205,-65.32889 1.95394,-1.953948" id="path31" />
                </g>
            </svg>
			</a>
		</div>
		<div id="right">
			<div class="meta-ball-container" id="right-meta-ball-container">
				<div class="right-meta-ball"></div>
				<div class="right-meta-ball"></div>
				<div class="right-meta-ball"></div>
			</div>
		</div>
	</div>
	<nav class="main-nav">
		<a href="#">Karte</a>
		<a href="#">Spoti</a>
		<a href="/allspots" th:if="${role == 'ADMIN'}">Spotu rediģēšana</a>
		<a href="/allspots" th:if="${role == 'USER'}">Spotu rediģēšana</a>
		<a href="/createspot" th:if="${role == 'USER'}">Pievienot spotu</a>
		<a href="/createspot" th:if="${role == 'ADMIN'}">Pievienot spotu</a>
		<a href="/createcategory" th:if="${role == 'USER'}">Pievienot kategoriju</a>
		<a href="/createcategory" th:if="${role == 'ADMIN'}">Pievienot kategoriju</a>
		<a href="/allcategories" th:if="${role == 'USER'}">Kategoriju rediģēšana</a>
		<a href="/allcategories" th:if="${role == 'ADMIN'}">Kategoriju rediģēšana</a>
		<a href="/createuser" th:if="${role == 'ADMIN'}">Pievienot lietotāju</a>
		<a href="/edituser" th:if="${role == 'USER'}">Lietotāja iestatījumi</a>
		<a href="/edituser" th:if="${role == 'ADMIN'}">Lietotāja iestatījumi</a>
		<a href="/logout" th:if="${role == 'USER'}">Iziet</a>
		<a href="/logout" th:if="${role == 'ADMIN'}">Iziet</a>
	</nav>
	<div style="height: 10vh; width: 100%;"></div>
	<p style="color:red;" th:text="${message}"></p>
	<form method="post" action="/editspot/edit" id="spot-creation-form" style="width: 25%" enctype="multipart/form-data">
	
		<input th:value="${spot.id}" required type="number" style="display: none;" name="id">
		
  		<label for="name" style="width: 100%; display: block; padding-top: 5px;">Nosaukums</label>
  		<input th:value="${spot.name}" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, ievadiet nosaukumu!')" type="text" name="name" id="name" autocomplete="off" style="width: 100%; height: 25px;">
  		
  		<label for="description-eng" style="width: 100%; display: block; padding-top: 5px;">Apraksts (Eng)</label>
  		<input th:value="${spot.descriptionEng}" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, ievadiet aprakstu (Eng)!')" type="text" name="description-eng" id="description-eng" autocomplete="off" style="width: 100%; height: 25px;">
  		
  		<label for="description-lv" style="width: 100%; display: block; padding-top: 5px;">Apraksts (Lv)</label>
  		<input th:value="${spot.descriptionLv}" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, ievadiet aprakstu (Lv)!')" type="text" name="description-lv" id="description-lv" autocomplete="off" style="width: 100%; height: 25px;">
  		
  		<label for="city" style="width: 100%; display: block; padding-top: 5px;">Pilsēta</label>
  		<input th:value="${spot.city}" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, ievadiet pilsētu!')" type="text" name="city" id="city" autocomplete="off" style="width: 100%; height: 25px;">
  		
  		<label for="latitude" style="width: 100%; display: block; padding-top: 5px;">Platuma koordināta</label>
  		<input th:value="${spot.latitude}" step="0.01" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, ievadiet platuma koordinātu! ')" type="number" name="latitude" id="latitude" autocomplete="off" style="width: 100%; height: 25px;">
  		
  		<label for="longitude" style="width: 100%; display: block; padding-top: 5px;">Garuma koordināta</label>
  		<input th:value="${spot.longitude}" step="0.01" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, ievadiet garuma koordinātu!')" type="number" name="longitude" id="longitude" autocomplete="off" style="width: 100%; height: 25px;">
  		
  		<label for="categories" style="width: 100%; display: block; padding-top: 5px;">Kategorija</label>
  		<select th:value="${spot.category.name}" required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, izvēlieties kategoriju!')" name="category" id="categories" style="width: 100%; height: 25px;"></select>
  		
  		<label for="image" style="width: 100%; display: block; padding-top: 5px;">Attēls</label>
  		<input oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Lūdzu, augšupielādējiet attēlu!')" type="file" accept=".jpg" name="image" id="image" style="width: 100%; height: 25px;">
  		
  		<input type="submit" style="width: 50%; height: 25px; display: block; margin-top: 21px;">
	</form>
   	<script src="js/create.js"></script>
   	<script src="js/balls.js"></script>
</body>

</html>