<html xmlns:th="http://www.thymeleaf.org">
	<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
   <title>spoti.lv</title>
</head>

<body>
   	<form method="post" th:each="user: ${users}" action="/deleteuser">
    	<span th:text="${user.getName()}" style="width: 150px; float: left; white-space: nowrap; text-overflow: ellipsis;"></span>
    	<span th:text="${user.getEmail()}" style="width: 200px; float: left; white-space: nowrap; text-overflow: ellipsis;"></span>
    	<input th:if="${user.getRole().toString() == 'USER'}" type="number" name="id" th:value="${user.getIdu()}" style="display:none">
    	<input th:if="${user.getRole().toString() == 'USER'}" type="submit" value="delete">	
    	<br th:unless="${user.getRole().toString() == 'USER'}">
	</form>
</body>
	
</html>